section{
  border: 12px line rgb(255, 85, 0);
  margin: 1px;    
  color: white
}

.calendar {
  width: 60%;
  margin: auto;
  padding: 5%;
}
        



.pillars {
  background-color: white;
  width: 95%;
  margin: auto;
}

.pillars_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 3% 3% 3%;
  column-gap: 2%;
  row-gap: 5%;
}

/*Molly's note: going to fix this later! Need to fix alignments and make pictures smaller*/
/*maybe I should make each part of the grid its own grid so that the row gap between different chairs can be larger*/
.chairs_wrapper {
  grid-template-rows: 80px 80px;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 0 3% 3% 3%;
  column-gap: .5%;
  row-gap: 2%;
  border-radius: 50%;
  border: 1cm;
  font-size: large;
}


/*Molly: float may not be doing anything here*/
#com_pic{
    grid-column: 1;
    grid-row: 2;
    float: left;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
}

#prof_pic{
    grid-column: 4;
    grid-row: 5;
    float: right;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
    margin-right: auto;
}

#sus_pic{
    grid-column: 1;
    grid-row: 9;
    float: left;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
}

#sus_title {
    grid-column: 1 / 5;
    grid-row: 8;
}

#com_title {
    grid-column: 1 / 5;
}

#prof_title {
    grid-column: 1 / 5;
    grid-row: 4;
}

#sus {
    grid-column: 2 / 5;
    grid-row: 9;
}

#com{
    grid-column: 2 / 5;
}

#prof {
    grid-column: 1 / 4;
    grid-row: 5;
}

#sus{
    grid-column: 2 / 4;
}
