section{
  border: 12px line rgb(255, 85, 0);
  margin: 1px;    
  color: white
}


.graphic{
  width: 40%;
  text-indent: center;
  background-color: transparent;
  margin: auto;
  padding: 5%;
}

.calendar {
  width: 60%;
  margin: auto;
  padding: 5%;
}
        
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
#logo{
    text-indent: left;
}


.pillars {
  background-color: white;
  width: 95%;
  margin: auto;
}

.pillars_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 3% 3% 3%;
  column-gap: 2%;
  row-gap: 5%;
}

/*Molly's note: going to fix this later! Need to fix alignments and make pictures smaller*/
.chairs_wrapper {
  grid-template-rows: 80px 80px;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: left;
  padding: 0 3% 3% 3%;
  column-gap: 2%;
  row-gap: 2%;
  border-radius: 50%;
  border: 1cm;
  font-size: large;
}

/*Molly: float may not be doing anything here*/
#com_pic{
    grid-column: 1;
    float: left;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
}

#prof_pic{
    grid-column: 3;
    float: right;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
    margin-right: auto;
}

#sus_pic{
    grid-column: 1;
    float: left;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
}

#sus_title {
    grid-column: 1 / 4;
}

#com_title {
    grid-column: 1 / 4;
}

#prof_title {
    grid-column: 1 / 4;
}

#sus {
    grid-column: 2 / 4;
}

#com{
    grid-column: 2 / 4;
}

#prof {
    grid-column: 1 / 3;
}

#sus{
    grid-column: 2 / 4;