section{
  border: 12px line rgb(255, 85, 0);
  margin: 1px;    
  color: white
}

.calendar {
  width: 60%;
  margin: auto;
  padding: 5%;
}
        



.pillars {
  background-color: white;
  width: 95%;
  margin: auto;
}

.pillars_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 3% 3% 3%;
  column-gap: 2%;
  row-gap: 5%;
}
