/* Abby's note: not sure what ".x" refers to? */
/* .x{
    border: 3px black solid;
    padding: 5%;
    margin: 0%;
    font-style: italic;
    background-color: powderblue;
    text-indent: center;
} */


section{
  border: 12px line rgb(255, 85, 0);
  margin: 1px;    
  color: white
}


.graphic{
  width: 40%;
  text-indent: center;
  background-color: transparent;
  margin: auto;
  padding: 5%;
}

.calendar {
  width: 60%;
  margin: auto;
  padding: 5%;
}
        
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
#logo{
    text-indent: left;
}


.pillars {
  background-color: white;
  width: 95%;
  margin: auto;
}

.pillars_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 3% 3% 3%;
  column-gap: 2%;
  row-gap: 2%;
}

.chairs_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  

