/* .intro_imgs{
  padding: 5%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 40px;

  font-size: 30px;
}

.intro_imgs img {
  border-radius: 10%;
} */

main {
  padding-top: 200px;
}



.About_section {
  position: relative;
}

#banner {
  display: block;
  margin: auto;
  width: 40%;
  position: absolute;
  padding-top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* FOR CELL PHONES!! */
@media screen and (max-width: 768px) {

  main {
      padding-top: 300px;
  }

  #banner {
    width: 70%;
  }

  .bindstriveaid {
    display: none;
  }

}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding-bottom: 5%;

}

.gallery img {
  width: 400px;
}

#center_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  
}






.calendar {
  width: 60%;
  margin: auto;
}



@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.faq_wrapper {
  max-width: 75%;
  margin: auto;
  padding: 3%;
}

.faq_wrapper > p,
.faq_wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.faq_wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5; 
  /** CHANGE THIS TO MATCH THEME!! **/
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
        

.pillars {
  /* background-color: white; */
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
}

.pillars_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0 3% 3% 3%;
  column-gap: 2%;
  row-gap: 5%;
}

.pillars_wrapper img {
  width: 40%;
}



.bindstriveaid {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding-bottom: 100px;
}

.objectives h1{
  padding-bottom: 5%;
  /* text-decoration: underline; */
}

.objectives_tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3%;

}

.bsa_text {
  background-color: #0d1a73;
  color: white;
  border: 1px solid;
  padding: 10px;
  border-radius: 10%;
  box-shadow: 5px 10px 8px #888888;
}

.bsa_text h2 {
  color: white;
}

