/*need to fix order of the grid items!!*/
/*not working how I thought it would!*/
.exec_wrapper{
    width: 25%;
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    row-gap: 5%;
}


.Lauren_pic{
    grid-row-start: 1;
}

.Kelly_pic{
    grid-row-start: 2;
}

.Nate_pic{
    grid-row-start: 3;
}

.Lauren_p{
    grid-column-start: 2;
    grid-row-start: 1;
}

.Kelly_p{
    grid-column-start: 2;
    grid-row-start: 2;
}
