h4 {
    color: black;
    text-align: center;
    font-size: 200%;
    padding: 5%;
}

h5 {
    color: black;
    text-align: center;
    font-size: 150%;
    padding: 0 0 4% 0;
}

.big4_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}


.big4_card {
    box-shadow: 0px 0px 5px 3px #AAAAAA;
    background-color: white;
    border-radius: 2px;
    width: 300px;
    height: 550px;
    margin: 20px;
}

.big4_card img {
    box-shadow: 0px 0px 2px 1px #AAAAAA;
    border-radius: 2px;
    width: 200px;
    height: 200px;
    margin: 50px 50px 0px 50px;
    object-fit: cover;
}

.big4_card_textbox {
    width: 260px;
    height: 200px;
    font-size: 13px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: 120%;
    margin: 5px 20px 20px 20px;
}





/*Molly's note: going to fix this later! Need to fix alignments and make pictures smaller*/
/*maybe I should make each part of the grid its own grid so that the row gap between different chairs can be larger*/
/* .chairs_wrapper {
    grid-template-rows: 80px 80px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 0 3% 3% 3%;
    column-gap: .5%;
    row-gap: 2%;
    border-radius: 50%;
    border: 1cm;
    font-size: large;
  }
  
  

#com_pic{
    grid-column: 1;
    grid-row: 2;
    float: left;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
}
  
#prof_pic{
    grid-column: 4;
    grid-row: 5;
    float: right;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
    margin-right: auto;
}

#sus_pic{
    grid-column: 1;
    grid-row: 9;
    float: left;  
    max-width: 75%; 
    height: auto; 
    border-radius: 50%;
}

#sus_title {
    grid-column: 1 / 5;
    grid-row: 8;
}

#com_title {
    grid-column: 1 / 5;
}

#prof_title {
    grid-column: 1 / 5;
    grid-row: 4;
}

#sus {
    grid-column: 2 / 5;
    grid-row: 9;
}

#com{
    grid-column: 2 / 5;
}

#prof {
    grid-column: 1 / 4;
    grid-row: 5;
}

#sus{
    grid-column: 2 / 5;
} */

#chairs_title {
    margin-top: 4%;
    margin-bottom: 2%;
}

.chairs_wrapper {
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.chair {
    width: 100%;
    /* padding: 4% 0% 0% 0%; */
    display: flex;
    flex-direction: row;
}

.chair img {
    width: 50%;
    /* border-radius: 20%; */
    /* border: black solid 1px; */
    object-fit: cover;
}

.chair_tile {
    /* width: 30%; */
    margin: auto;
    padding: 5%;
    /* border-radius: 20%; */
    /* border: black solid 1px; */
}

.chair_tile p {
    font-size: 110%;
}



.graphic_container{
    width: 40%;
    text-indent: center;
    background-color: transparent;
    margin: auto;
    padding: 5%;
}

#graphic_descriptor {
    padding: 2%;
}

#graphic {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
  }
#logo{
    text-indent: left;
}


@media screen and (max-width: 768px) {

    .chairs_wrapper {
        display: none;
    }

    #chairs_title {
        display: none;
    }
}