* {
    /* font-family: 'Bricolage Grotesque', sans-serif; */
    font-family: 'DM Serif Display', serif;
}

nav {

    background-color: #0d1a73;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow: auto;

    /* Fixed nav bar at the top :) */
    position: fixed;
    top: 0;
    z-index: 100;
}

nav li {

    /* position: relative; */
    display: inline-block;
    padding: 20px 10px 20px 10px;
    
}

nav a {
    text-decoration: none;
    font-size: 150%;
    color: #f4f794;
}


#apply_link {
    background-color: #f4f794;
    border-radius: 50%;
    
}

#apply_link a {
    color: #0d1a73;
    font-weight: bold;
}

html {
    scroll-padding-top: 105px;
}

main {
    padding-top: 105px;

}

@media screen and (max-width: 768px) {

    main {
        padding-top: 250px;
    }

    html {
        scroll-padding-top: 250px;
    }

}

body{
    
    background-color: powderblue;
    width: 100%;
    position: absolute;
    min-height: 100vh;
}

.active_page {
    text-decoration: underline 3px;
    color: #f4f794;
    font-weight: bold;
}


.nav_title {
    margin-right: auto;
    text-decoration: none;
    font-size: 150%;
    color: white;

}

#bindstriveaid {
    width: 50%;
    margin: auto;
}


/* FOOTER STUFF */
footer {
    width: 100%;
    height: 50px;
    display: inline-block;
    color: black;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    bottom: 0;
}

footer #copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#565353;
    margin-bottom:0;
}



img {
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    /* padding: 2% 0% 0% 0%; */
}

h2 {
    color: black;
    text-align: center;
    font-size: 200%;
    padding: 1% 0% 1% 0%;
}

/* should change this to differ from h2 more... */
h3 {
    color: black;
    text-align: center;
    font-size: 150%;
    padding: 1% 0% 1% 0%;
}





/*want to make headers and footers show up on every page!!!*/
/* @media screen {
    div.divFooter {
      display: none;
    }
  }
  @media print {
    div.divFooter {
      position: fixed;
      top: 0;
    }
  }

  @media screen {
    div.divHeader {
      display: none;
    }
  }
  @media print {
    div.divHeader {
      position: fixed;
      top: 0;
    }
} */